
*{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #F2A154;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width:500px;
    height: 500px;
    background-color: #314E52;
    border-radius: 15px;
    border: 2px solid #132527
}

.display{
    width: 70%;
    height: 80px;
    margin: 40px 0 20px;
    padding: 0 10px;
    background-color: antiquewhite;
    color: black;
    border-radius: 7px;
    text-align: right;
    font-size: 30px;
    border: none;
}

.row-buttons{
    
    display: flex;
    
}

.buttons{
    height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 22px;
    color: #132527;
    background-color: #F7F6E7;
    margin: 4px;
    border: none;
    border-radius: 100%;
}